

.game-list-item {
    display: block;
    width:fit-content;
    height: fit-content;
    margin: 10px;
}

.game-list-item:hover {
    background-color: #ff8b00;
}
.games {
    display: block;
}

.game-data {
    text-align: center;
}

.game-list {
    display: grid;
    grid-template-columns: auto auto auto;
    
    
    justify-content: center;
    border-top: 1px dotted #444;
    height: 60vh;
    width:100%;
    max-width: 1200px;
    
    overflow-y: scroll;
    float: left;
    
}
.game-list-item {
    width:fit-content;
    height: fit-content;
    padding: 2% 0;
    
    
}


.game-thumbnail img{
    width: 33vw;
    height: 33vw;
    float: left;
}

.game-metadata {
    display: none;
}

@media only screen and (max-width: 989px)  and (min-width: 686px){
    .game-list {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 686px) {
    .game {
        min-width: 400px;
        width: 75vw;
        max-width: 1200px;
    }

    .game-list {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }

    .game-thumbnail img{
        width: 300px;
        height: 300px;
    }
    .game-list-item {
        
        border: none;
        margin: 10px;
    }

    .game-metadata {
        display: block;
    }
}