body

.carousel-container {
    display: block;
    margin: auto;
    width:100vw;
}

.cover {
    position: absolute;
    width: 100%;
    max-width:178px;
    height: 100%;
    top: -17px;
    left: 0;
    z-index: 10;
}

.cover p {
    overflow-wrap: normal;
    height: 100px;
    width:100%;
    background-color: rgb(17,17, 17, 0.7);
    text-align: center;
    
    padding-top: 10px;
}

.frame {
    min-height: 450px;
    width: 90%;
    height: 450px;
    margin: auto;
    white-space: nowrap;
    text-align: center;
}

.description {padding: 15px;}

.frame .spacer {
    display: inline-block;
    height: 100%;
    background-color: aqua;
    vertical-align: middle;
}

.frame img {
    vertical-align: middle;
    text-align: center;
    
    width:auto;
    height: auto;
    max-height: 450px;
    
    background-color: blue;
    max-width: 1018px;
}

.image-container iframe {
    width: 100%;
    max-width: 1018px;
}


.image-main-panel {
    display: flex;
    margin: 10px auto;
    width: 90%;
    max-width: 1018px;
    justify-content: space-between;
    text-align: center;
}

.image-main-panel a{
    cursor: pointer;
}

.image-carousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    flex-direction: row;
    margin: auto;
    overflow-x: scroll;
    width: 90%;
    max-width: 1018px;
}

.image-carousel a:not(:last-child)::after{
    margin:0 30px;
    content: '';
}

.image-container{
    position: relative;
    cursor: pointer;
    padding-right: 10px;
    border-radius: 10px;
    height: 100px;
}

.image-container img {
    min-width:178px;
    max-width: 178px;
    height: 100px;
    
}

.selected .cover {
    display: none;
}

@media only screen and (max-width: 686px){
    .carousel-container {
        margin: 0;
        padding: 0;
    }

    .image-carousel {
        display: flex;
        flex-direction: row;
        margin: auto;
        overflow-x: scroll;
        width: 90%;
        max-width: 617px;
    }


    .image-main {
        display: block;
        margin:auto;
        width: 90%;
    }
    .image-main img {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 1018px;
    }
    
    .image-main iframe {
        
        width: 100%;
        max-width: 1018px;
    }
}
