#back-arrow {
    display: block;
    position: fixed;
    z-index: 1;
    top:10px;
    right: 10px;
    padding:10px;
    border-radius: 5px;
    background-color: rgba(.06, .06, .06, .6);
    color:antiquewhite;
}

.description {
    margin: 20px;
}

.game {
    flex-direction: column;
}

.game-link {
    display: block;
    margin: auto;
}

.game-link iframe {
    color:antiquewhite;
}

@media only screen and (max-width: 686px){
    #back-arrow {
        position: absolute;
    }
}