body {
    padding: 0;
    margin: 0;
}

.background {
    background-color: #111;
}
#back-arrow {
    display: block;
    position: fixed;
    z-index: 1;
    top:10px;
    right: 10px;
    padding:10px;
    border-radius: 5px;
    background-color: #111;
    color:antiquewhite;
}

.description {
    margin: 20px;
}

.game {
    flex-direction: column;
    padding: 0;

    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
}

.game-header {
    margin: 15px 15px 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.game-header h2 {
    font-size: xx-large;
}

.game-header h3 {
    
    font-size: x-large;
}
.game-link {
    display: block;
    margin: auto;
}

.game-link iframe {
    color:antiquewhite;
}

.game-title {
    margin: 0;
    border:0;
}

.game-year {
    margin: 0;
    border:0;
}

.tags {
    display: flex;
    margin-left: 15px;
    
    text-indent: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
}

.tag{
    margin: 0;
    border:0;
    height: fit-content;
    text-decoration: none;
    display: flex;   
    
}

.tags a:not(:last-child)::after{
    margin:0 10px;
    content: '|';
}


.widget-wrapper {
    display:block;
    width: 80vw;
    
    overflow-x: hidden;
}

@media only screen and (max-width: 686px){
    #back-arrow {
        position: absolute;
    }

    .game {
        padding: 0;
    }

    .game-header {
        padding: 15px 15px 0;
    }

    .tags {
        padding: 0 15px;
    }
}